  <h1>Edite o produto!</h1>
  {{produto ? produto.title : ''}}
  <form [formGroup]="formProduct">
    <div class="p-fluid grid">
      <div class="field col-12" style="margin-top: 20px;">
        <span class="p-float-label" >
          <input type="text" id="inputtext" pInputText formControlName="title">
          <label for="inputtext">Nome</label>
        </span>
      </div>
      <div class="field col-12" style="margin-top: 5px;">
        <span class="p-float-label" >
          <input type="text" id="inputtext" pInputText formControlName="price" prefix="R$ "  mask="separator.2" thousandSeparator=".">
          <label for="inputtext">Preço R$</label>
        </span>
      </div>
      <div class="field col-12" style="margin-top: 5px;">
        <span class="p-float-label" >
          <input type="text" id="inputtext" pInputText formControlName="category">
          <label for="inputtext">Categorias</label>
        </span>
      </div>
      <div class="field col-12" style="margin-top: 5px;">
        <span class="p-float-label" >
          <label for="picture_input" tabIndex="0"></label>
          <p-fileUpload  (onSelect)="fileChanges($event)" mode="basic" name="file" accept="image/*" formControlName="images" chooseLabel="Carregar Imagem"></p-fileUpload>
        </span>
      </div>
    </div>
  </form>
  <div class="buttonModal">
    <span>
      <button (click)="editProduct()"  style="margin-left: 10px;" pButton pRipple type="button" label="Editar" class="p-button-warning"></button>
    </span>
    <span style="margin-left:10px;">
      <button (click)="closeModalEditProduct()" pButton pRipple type="button" label="Cancelar" class="p-button-danger"></button>
    </span>
  </div>


