.form{
  justify-content: space-around;
  align-items: center;
}

.p-float{
  display: block;
}

.container{
  background-color: #e9e6e6;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center;
}

.wrapper {
  margin-top: 25px;
}

.validação {
  color: red;

}

.entrar{
  width: 280px;
}





